<!DOCTYPE html>
<html lang="en" ng-app="triviaApp">
<head>
  <title>Quiz</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="css/style.css">

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="QuestionsController">
  <header>
    <div class="container">
      <div class="brand">Quiz game</div>
    </div>
  </header>

  <div class="container">
    <div class="score">
      <div class="score__correct">Correct answers: {{answers_correct}}</div>
      <div class="score__total">Total questions: {{answers_total}}</div>
    </div>

    <div class="container">
      <div class="question">
        <div class="question__id">Question #{{question.id}}</div>
        <div class="question__category">Category: {{question.category}}</div>
        <div class="question__text z-depth-1">{{question.question}}</div>
        <div class="question__skip">
          <button class="btn">Skip</button>
        </div>
        <div class="letters-container z-depth-1">
          <ul class="letters letters--used">
            <li ng-repeat="letter in question.answerUsedLetters track by $index" ng-click="unuseLetter($index)" class="letter z-depth-2">
              {{letter}}
            </li>
          </ul>
        </div>
        <ul class="letters letters--unused">
          <li ng-repeat="letter in question.answerUnusedLetters track by $index" ng-click="useLetter($index)" class="letter z-depth-2">
            {{letter}}
          </li>
        </ul>
      </div>
    </div> <!-- container end -->
  </div> <!-- container end -->
</body>
</html>
